/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom right, #efefbb, #d4d3dd);
    background-attachment: fixed;
    color: #333;
  }
  
  .WeatherApp {
    max-width: 800px;
    margin: 100px auto;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #2c3e50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  /* CitySearchForm Styles */
  .CitySearchForm {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: center;
  }
  
  .CitySearchForm input {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 20px 0 0 20px;
    background-color: #f1f2f6;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .CitySearchForm button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #2c3e50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .CitySearchForm button:hover {
    background-color: #34495e;
  }
  
  /* CityList Styles */
  .CityList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .CityList > div {
    flex: 0 0 calc(33.33% - 2rem);
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .CityList > div:hover {
    transform: translateY(-5px);
  }
  
  .CityList > div button {
    display: flex;
    margin-top: 1rem;
    margin-left: 132px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    background-color: #e74c3c;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .CityList > div button:hover {
    background-color: #c0392b;
  }
  
  /* WeatherDisplay Styles */
  .WeatherDisplay {
    text-align: center;
  }
  
  .WeatherDisplay h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #2c3e50;
  }
  
  .WeatherDisplay img {
    width: 80px;
    height: 80px;
  }
  
  .WeatherDisplay p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }